.contact__icons{
    border-radius: 5px;
    width: 6rem;
    height: 6rem;
    background-color: var(--wc__orange);
    color: white;
    transition: all .4s
}
.contact__address-data{
    max-width: 300px;
    width: 300px;
}
.contact__icons:hover{
    background: transparent;
    border: 1px solid var(--wc__orange);
    color: var(--wc__orange);
    transform: scale(1.025);
}

/* Form */
.wc__form{
    position: relative;
}
.wc__form-input:focus, .wc__form-textarea:focus{
    border-color: var(--wc__orange);
    box-shadow: 0 0 0 0.25rem rgba(194, 65, 49, .5)
}
.wc__form-label{
    pointer-events: none;
    position: absolute;
    padding-left: 2rem;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: text;
}
.wc__form-input:focus + .wc__form-label,
.wc__form-input:not(:placeholder-shown) + .wc__form-label,
.wc__form-textarea:not(:placeholder-shown) + .wc__form-label,
.wc__form-textarea:focus + .wc__form-label {
    background-color: #fff;
    padding: 0 .5rem;
    color: var(--wc__orange);
    top: -15px;
    transform: scale(.85) translateY(-30%) translateX(30px);
}

.wc__form-input, .wc__form-label{
    transition: all .2s;
    transition-timing-function: cubic-bezier(.25, .1, .25, 1);
}

@media only screen and (max-width: 600px) {
    .contact__address{
        flex-direction: column;
    }
    .contact__address-data{
        width: 100%;
        margin-bottom: 1rem;
    }
  }