:root{
    --wc__dark: #10151b;
    --wc__orange: #c24131;
}

body{
    font-size: 16px;
    color: var(--wc__dark);
}

/* titles */
.wc__titles{
    position: relative;
    border-left: 1px solid var(--wc__orange);
    border-right: 1px solid var(--wc__orange);
    padding: 0 1.5rem;
    letter-spacing: .25rem;
}
.wc__titles::before, .wc__titles::after{
    content: '';
    height: 1px;
    width: 2rem;
    background-color: var(--wc__orange);
    position: absolute;
    top: 50%;
}
.wc__titles::before{
    left: -2rem;
}
.wc__titles::after{
    right: -2rem;
}
.wc__accordion{
    background-color: var(--wc__orange);
    color: white;
}
.wc__accordion:not(.collapsed){
    color: var(--wc__orange);
    background: transparent;
    box-shadow: inset 0 -1px 0 rgba(223, 89, 89, 0.13);
}

.wc__accordion:focus{
    border-color: var(--wc__orange) !important;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%) !important;
}